zmodule romkatv/powerlevel10k --use degit
zmodule git-info
zmodule prompt-pwd
zmodule environment
zmodule input
zmodule utility
zmodule duration-info
zmodule zsh-users/zsh-completions --fpath src
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-history-substring-search
zmodule completion