# https://github.com/sxyazi/yazi/blob/shipped/yazi-config/preset/keymap-default.toml

[mgr]
prepend_keymap = [
    { on = "<A-a>",   run = "toggle_all --state=on", desc = "Select all files" }, # use alt-a as select all, because ctrl-a has been used by tmux
]

